body {
  font-family: 'Merriweather',serif;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: 15px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
}

h2,h3 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #777271 10px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

img {
  padding: 15px 0 15px;
}

.top-container {
  background-color: #EAFDFC;
}

.bottom-container {
  background-color: #EAFDFC;
  padding: 2% 0;
}
